<h1>New User</h1>

<%= form_for @user, :as => :user, :url => users_path do |form| %>
<%= render partial: "users/form_errors", locals: { object: form.object } %>


  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, required: true %>
  </div><br> 

   <div>
    <%= form.file_field :image %>

  </div><br>

 


  <%= form.submit "Sign Up" %>
<% end %>