<h1>New User</h1>

<%= form_with model: @users do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :n %>
  </div>

  <div>
    <%= form.file_field :image %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>